body {
  text-align: center;
  background: url(/img/flag.jpg) repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 30px;
}

footer {
  background-color: blue;
  color: white;
  margin-top: 10px;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
  text-decoration: underline;
}

button {
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

button.fb-share {
  background: url(/img/fb-share.png) no-repeat center center;
  background-size: cover;
  width: 200px;
  height: 30px;
}

button.twitter-share {
  background: url(/img/twitter-share.png) no-repeat center center;
  background-size: cover;
  width: 200px;
  height: 30px;
}

.content {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
  background: rgb(250, 250, 250);
  background: rgba(250, 250, 250, .8);
}

.small {
  font-size: 10px;
}

.tagline {
  font-size: 20px;
  text-transform: uppercase;
  font-style: italic;
}

.trump-face {
  width: 90%;
}

.results {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider {
  position: relative;
  margin: 0 auto;
  width: 200px;
  margin-bottom: 40px;
}

.input {
  width: 200px;
}

.input:hover {
  cursor: pointer;
}

.pole {
  position: absolute;
  width: 100px;
  top: 0;
}

.pole-bad {
  right: 200px;
}

.pole-good {
  left: 200px;
}
